@import "generales";
@import "fuente";
@import "galeriaimg";
@import "variables";
@import "navbar";
@import "productos";
@import "medias";
main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    text-align: center;
    padding: 10px 0;
    font-size: 30px; 
    background-color: rgba(120, 14, 139, 0.192);
}
header{
    color: aliceblue;
    width: 100%;
    padding:10px;
    background-color: $colorheadyfoot;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $colorletrashead
    text-transform uppercase; 
    padding: 20px; 
}

img{
    margin-top: 10px;
    padding: 10px;
} 

footer{
    padding: 10px;
    background-color: $colorheadyfoot;

}
.footer_index{ 
    flex: none;
    margin: 0;
    padding: 10px;
    background-color: $colorheadyfoot;
}
.icon{
    width: 48px;
    height: 48px;
}

.redes{

    flex-direction: row;
    justify-content: center;
}
.padre { 
    h1 { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    font-size: $sizegrande;
    background-color: $coloroscuro;
    }
    
    p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    text-align: center;
    padding: 10px 0;
    font-size: $sizechico;
    background-color: $coloroscuro;
}
}
.hijo {
    h2{ 
    font-weight: 100;
    text-align: center;
    padding: 20px 0;
    font-size: 40;
    background-color: $coloroscuro;
    }
}
.linea {
    background-color: rgb(80, 20, 64);
    height: 5px ;
    width: 100%;
    display: block; 
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin:auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    
}
.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
} 
.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgb (0d, 0, .5);
}
.galeria a{
&:hover img {
    color: aliceblue;
    filter: blur(2px);
    transform: rotate(10deg)scale(1.3)
}      
}

